/* button {
    display:inline-block;
    padding:0.25em 1em;
    border: 0.2em solid white;
    margin: 0 0.2em 0.2em 0;
    border-radius:0.2em;
    text-decoration:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align:center;
    background-color:transparent;
    text-transform:uppercase
}


form {
    background-color:rgb(239, 240, 225);
    display:flex;
    align-items:right;
    justify-content:right
} */
