/* .navlink{
    display:inline-block;
    padding:2px;
    border: 0.1em solid black;
    margin-left:10px;
    text-decoration:none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-align:center;
    background-color:transparent;
    text-transform:uppercase;
    font-size:14px;
    font-weight:500;

} */



.chairbutt{
    background-color: transparent;
    border:none;
    color:#FF5B61;
    margin-left:6px;
    cursor:pointer
}

.rightnav {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   float:right;
   width:auto;
   text-align:left;
   padding-right:50px;
   margin-top:12px
}

.navbarright {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    float:right;
    width:auto;
    text-align:left;
    padding-right:50px;
    margin-top:12px
}

.chairbnbpic{
    width:140px;

}

.profile-dropdown {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-transform:uppercase;
    font-size:12px;
    margin-top:none;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 5px #d5d5d5;
    border-radius:10px;
    align-content: center;
    width: 220px;
    text-align:left;
    align-items:flex-start;
    padding-right: 18px;
    position:absolute;

}
.profile-dropdown ul{
    align-items:left;
    padding-bottom:1px;
    text-align:center;
    margin-right:25%;
    margin-bottom:2px;
    margin-top: 10px;
    width: 100px;
}

.button {
    display:inline-block;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:0.2em;
    text-decoration:none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-align:center;
    background-color:transparent;
    text-transform:uppercase;
    cursor:pointer;
    border:none;
}

.button:hover {
    background-color: #d4d4d4;
    border:none;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:10px
}
